PORT=5000
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=postgres
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio
JWT_REFRESH_SECRET=cambia_esto_por_otro_secreto_largo_y_aleatorio
ALLOWED_ORIGINS=http://localhost:5000
